.sectionWrapper::before {
  content: "";
  display: block;
  height: 56px;
  margin-top: -56px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

.containerWrapper {
  background-color: var(--color-code-bg-primary);
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: var(--size-gutter);
}
