.sectionWrapper::before {
  content: "";
  display: block;
  height: 195px;
  margin-top: -195px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

.containerWrapper {
  background-color: var(--color-band);
}

.mainContainer {
  margin-top: 50px;

  margin: 0 auto;
  max-width: var(--size-content);
  padding: var(--size-gutter);
}

.title {
  text-align: center;
  color: var(--text-color-band);
  font-size: 4rem;
}

.text {
  text-align: center;
  color: var(--text-color-band);
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (--large-screen) {
  .infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
