.wrapper {
  margin: 0 auto;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-header);
  position: sticky;
  top: 0px;
  height: 56px;
}

.anchorContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.text {
  color: var(--text-color-header);
  text-decoration: none;
}

.text:hover {
  color: darkred;
}
