.sectionWrapper::before {
  content: "";
  display: block;
  height: 195px;
  margin-top: -195px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

.containerWrapper {
  background-color: var(--color-code-bg-secondary);
  padding-bottom: 50px;
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: var(--size-gutter);
}

.projectsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;
  justify-content: center;
}

.project {
  padding: 0;
  width: 512;
  height: 400;
  background-color: rgba(128, 128, 128, 0.356);

  border-radius: 10px;
  overflow: hidden;
}

.projectContainer {
  display: flex;
  align-items: flex-start;
  justify-items: center;
}

.projectTitle {
  margin: auto;
  text-align: center;
  color: black;
}

.projectDescription {
  margin: auto;
  text-align: center;
  color: black;
}

.text{
  margin-bottom: 50px;
}

.link {
  text-decoration: none;
}

@media screen and (--large-screen) {
  .mainContainer {
    position: relative;
  }

  .projectsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    align-content: center;
    justify-content: center;
  }
}
