.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  align-content: center;
  justify-content: center;
}

.project {
  padding: 10%;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.356);
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
}
