.sectionWrapper::before {
  content: "";
  display: block;
  height: 56px;
  margin-top: -56px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

.containerWrapper {
  background-color: var(--color-code-bg-primary);
  padding-bottom: 100px;
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: var(--size-gutter);
}

.projectsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  align-content: center;
  justify-content: center;
}

.project {
  padding: 0;
  width: 512;
  height: 400;
  background-color: rgba(128, 128, 128, 0.356);

  border-radius: 10px;
  overflow: hidden;
}

.projectContainer {
  display: flex;
  align-items: flex-start;
  justify-items: center;
}

.projectTitle {
  margin: auto;
  text-align: center;
  color: black;
}

.projectDescription {
  margin: auto;
  text-align: center;
  color: black;
}

.link {
  text-decoration: none;
}
