.wrapper {
  background-color: var(--color-band);
  height: 150px;
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: 0 var(--size-gutter);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  color: var(--text-color-band);
  font-size: 4rem;
  margin-bottom: 10px;
  text-align: center;
}
