.wrapper {
  background-color: red;
  height: 150px;
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: 0 var(--size-gutter);
  display: flex;
  align-items: center;
  height: 100%;
}

.title {
  color: white;
  font-size: 5rem;
  margin-bottom: 10px;
}
