.sectionWrapper::before {
  content: "";
  display: block;
  height: 195px;
  margin-top: -195px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

.containerWrapper {
  background-color: var(--color-code-bg-primary);
  padding: var(--size-gutter);
  position: relative;
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  position: relative;
  margin-bottom: 50px;
}

.downloadResumeButton {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: var(--color-band);
  height: 64px;
  text-decoration: none;
  border-radius: 10px;
  transition: all .5s;
}

.downloadResumeButton:hover{
  background-color: #ff000d;
  transform: scale(1.1);
}

.resumeButtonText {
  height: fit-content;
  width: fit-content;
  text-align: center;
  color: var(--text-color-band);
  padding: 0px 16px;
  margin: 0;
}

@media screen and (--large-screen) {
  .sectionWrapper::before {
    content: "";
    display: block;
    height: 51px;
    margin-top: -51px;
    visibility: hidden;
    position: relative;
    z-index: -1;
  }

  .containerWrapper {
    padding: var(--size-gutter) 0;
  }
}
