.sectionWrapper::before {
  content: "";
  display: block;
  height: 195px;
  margin-top: -195px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

.containerWrapper {
  background-color: var(--color-code-bg-primary);
  padding: var(--size-gutter);
  position: relative;
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  position: relative;
}

@media screen and (--large-screen) {
  .sectionWrapper::before {
    content: "";
    display: block;
    height: 51px;
    margin-top: -51px;
    visibility: hidden;
    position: relative;
    z-index: -1;
  }

  .containerWrapper {
    padding: var(--size-gutter) 0;
  }
}
