.sectionWrapper::before {
  content: "";
  display: block;
  height: 195px;
  margin-top: -195px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

.containerWrapper {
  background-color: var(--color-code-bg-primary);
  padding: var(--size-gutter);
  position: relative;
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  position: relative;
  margin-bottom: 50px;
}

.downloadResumeButton {
  display: none;
}

.downloadResumeButton:hover {
  background-color: var(--color-header);
  transform: scale(1.1);
}

.resumeButtonText {
  height: fit-content;
  width: fit-content;
  text-align: center;
  color: var(--text-color-band);
  padding: 0px 16px;
  margin: 0;
}

.photo{
  max-width: 256px;
  flex-grow: 1;
  border: solid 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 32px;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (--large-screen) {
  .sectionWrapper::before {
    content: "";
    display: block;
    height: 51px;
    margin-top: -51px;
    visibility: hidden;
    position: relative;
    z-index: -1;
  }

  .containerWrapper {
    padding: var(--size-gutter) 0;
  }

  .downloadResumeButton {
    visibility: visible;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: var(--color-band);
    height: 64px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.5s;
  }

  .flex{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 30px 0px;
  }

  .photo{
    width: 1024px;
    flex-grow: 1;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.5);
  }

  .text{
    flex-shrink: 1;
  }
}
