.wrapper {
  background-color: var(--color-code-bg-primary);
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: var(--size-gutter);
  position: relative;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px 10px;
}

.title {
  text-align: left;
}

@media screen and (--large-screen) {
  .skillsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 10px;
  }

  .mainContainer {
    padding: 0 0 var(--size-gutter) 0;
  }
}
