.sectionWrapper::before {
  content: "";
  display: block;
  height: 195px;
  margin-top: -195px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

.containerWrapper {
  background-color: var(--color-header);
}

.mainContainer {
  margin-top: 50px;

  margin: 0 auto;
  max-width: var(--size-content);
  padding: var(--size-gutter);
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-family: BankGothic;
  color: white;
  font-size: 4rem;
}

.text {
  text-align: center;
  color: white;
  margin: 0;
}


.infoWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactList {
  list-style: none;
}

.contactList:hover{
  fill: var(--text-color-band-hover);
}

@media screen and (--large-screen) {
  .infoWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .infoWrapper {
    gap: 40px;
  }
}
