.wrapper {
  background-color: var(--color-code-bg-primary);
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: var(--size-gutter);
}

.title {
  text-align: left;
}

.link{
  font-weight: 500;
}

.link:hover{
  text-decoration: underline;
  color: var(--text-color-band-hover);
}

@media screen and (--large-screen) {
  .mainContainer {
    padding: var(--size-gutter) 0;
  }
}
