.wrapper {
  margin: 0 auto;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-header);
  position: sticky;
  top: 0px;
  z-index: 30;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
}

.anchorContainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0;
}

.homeButton {
  text-decoration: none;
  padding-left: 15px;
}

.homeText {
  color: var(--text-color-header);
  margin: 5px 0px 10px 0px;
}

.sectionLinkText{
  color: rgba(208, 214, 219, 0.87);
  margin: 0;
  text-transform: uppercase;
}

.sectionLink:hover .sectionLinkText{
  color: white;
}

.active .sectionLinkText{
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.sectionLink {
  color: var(--text-color-header);
  text-decoration: none;
  margin: 0;
  padding-left: 16px;
}

.sectionLink:hover {
  color: darkred;
}

.menuButton {
  border: none;
  background: none;
  margin-right: 15px;
}

.active {
  text-decoration: underline;
  text-decoration-color: red;
}

@media screen and (--large-screen) {
  .anchorContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 30px;
    align-items: center;
  }
}
