.wrapper {
  margin: 0 auto;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-header);
  position: sticky;
  top: 0px;
  z-index: 30;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 32px;
  height: 64px;
}

.anchorContainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0 32px;
}

.sectionLink {
  color: var(--text-color-header);
  text-decoration: none;
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "BankGothic";
  letter-spacing: 4px;
}

.sectionLink:hover {
  text-decoration: underline;
}

.menuButton {
  border: none;
  background: none;
}

.active {
  color: var(--text-color-header);
  text-decoration: underline;
}

.sectionLink:hover .active {

  text-decoration: underline;
}

@media screen and (--large-screen) {
  .wrapper {
    height: 64px;
  }

  .anchorContainer {
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding-right: 30px;
    align-items: center;
  }
}
