.wrapper {
  background-color: var(--color-band);
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: var(--size-gutter);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: var(--text-color-band);
}

.description {
  text-align: center;
  color: var(--text-color-band);
}

.contactButton {
  border: solid 3px;
  border-color: var(--text-color-band);
  border-radius: 15px;
  width: 200px;
  text-decoration: none;
  margin-top: 20px;
  transition: all 0.5s;
}

.contactButton:hover {
  transform: scale(1.1);
  border-color: var(--text-color-band-hover);
}

.contactButtonText {
  color: var(--text-color-band);
  text-align: center;
  margin: 5px 0;
  transition: all 0.5s;
}

.contactButton:hover .contactButtonText {
  color: var(--text-color-band-hover);
}
