.wrapper {
  background-color: var(--color-band);
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: var(--size-gutter);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introductionText {
  color: var(--text-color-band);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.title {
  color: var(--text-color);
  font-family: BankGothic;
  text-transform: uppercase;
  align-self: stretch;
  text-align: center;
  
  font-size: 8cqw;
  flex-grow: 1;
  margin: 0;
  text-wrap: nowrap;
}

.subtitle {
  color: var(--text-color);
  font-size: 4cqw;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.platforms {
  margin: 0;
  font-size: 3cqw;
}

.description {
  color: var(--text-color);
  font-weight: 400;
  margin: 8px 0px;
  width: 100%;
  text-align: center;
}

.contactButton {
  border: solid 3px;
  border-color: var(--text-color);
  border-radius: 15px;
  width: 250px;
  text-decoration: none;
  margin-top: 20px;
  transition: all 0.5s;
}

.contactButton:hover {
  transform: scale(1.1);
  border-color: var(--text-color-band-hover);
}

.contactButtonText {
  color: var(--text-color);
  text-align: center;
  margin: 5px 0;
  transition: all 0.5s;
}

.contactButton:hover .contactButtonText {
  color: var(--text-color-band-hover);
}

@media screen and (--large-screen) {
  .mainContainer {
    margin: 0 auto;
    max-width: var(--size-content);
    padding: calc(var(--size-gutter) * 2) var(--size-gutter);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introductionText {
    color: var(--text-color-band);
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .title {
    color: var(--text-color);
    font-size: 4.5rem;
    margin: 0;
  }

  .subtitle {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }

  .platforms {
    margin: 0;
    font-size: 1.5rem;
  }

  .description {
    color: var(--text-color);
    font-weight: 400;
    margin: 8px 0px;
    width: 80%;
    text-align: center;
  }
}
