.sectionWrapper {
  position: relative;
}

.sectionWrapper::before {
  content: "";
  display: block;
  height: 195px;
  margin-top: -195px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

.containerWrapper {
  background-color: var(--color-code-bg-secondary);
  padding: var(--size-gutter);
  padding-bottom: 20px;
  position: relative;
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  position: relative;
}

.projectsWrapper {
  display: flex;
  margin: 32px 0;
  flex-direction: column;
  gap: 20px;
  align-content: center;
  justify-content: center;
}

.project {
  padding: 0;
  width: 512;
  height: 400;
  background-color: var(--color-code-bg-primary);

  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s;
}

.project:hover {
  background-color: #c2c2c2;
  transform: scale(1.02);
  /* transform: translate(0, -10px); */
}

.projectContainer {
  display: flex;
  align-items: flex-start;
  justify-items: center;
}


.projectTitle {
  margin: auto;
  text-align: center;
  color: black;
}

.project:hover .projectTitle{
  
}

.project:hover .projectDescription{
  
}

.projectDescription {
  margin: auto;
  text-align: center;
  color: black;
}

.text {
  margin-bottom: 50px;
}

.link {
  text-decoration: none;
}

.handleTop {
  position: absolute;
  top: 175px;
  left: calc((100% / 2) - 100px);
  fill: var(--color-code-bg-secondary);
}
.handleBottom {
  position: absolute;
  bottom: -24px;
  left: calc((100% / 2) - 100px);
  fill: var(--color-code-bg-secondary);
}

@media screen and (--large-screen) {
  .sectionWrapper::before {
    content: "";
    display: block;
    height: 51px;
    margin-top: -51px;
    visibility: hidden;
    position: relative;
    z-index: -1;
  }

  .containerWrapper {
    padding: var(--size-gutter) 0;
  }

  .projectsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    align-content: center;
    justify-content: center;
  }

  .handleTop {
    position: absolute;
    top: 20px;
    left: calc((100% / 2) - 100px);
    fill: var(--color-code-bg-secondary);
  }
  .handleBottom {
    position: absolute;
    bottom: -32px;
    left: calc((100% / 2) - 100px);
    fill: var(--color-code-bg-secondary);
  }
}
