.sectionWrapper {
  position: relative;
  padding-top: 30;
}

.sectionWrapper::before {
  content: "";
  display: block;
  height: 195px;
  margin-top: -195px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

.containerWrapper {
  background-color: var(--color-code-bg-secondary);
  padding: var(--size-gutter);
  padding-bottom: 50px;
  position: relative;
}

.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  position: relative;
}

.projectsWrapper {
  display: flex;
  margin: 32px 0;
  flex-direction: column;
  gap: 10px;
  align-content: center;
  justify-content: center;
}

.projectContainer {
  display: flex;
  align-items: flex-start;
  justify-items: center;
}

.title{
  text-align: center;
  font-size: 6cqw;
  margin-bottom: 32px;
}

.text {
  margin-bottom: 50px;
}

.handleTop {
  position: absolute;
  top: 175px;
  left: calc((100% / 2) - 100px);
  fill: var(--color-code-bg-secondary);
}
.handleBottom {
  position: absolute;
  bottom: -24px;
  left: calc((100% / 2) - 100px);
  fill: var(--color-code-bg-secondary);
}

@media screen and (--large-screen) {
  .sectionWrapper::before {
    content: "";
    display: block;
    height: 51px;
    margin-top: -51px;
    visibility: hidden;
    position: relative;
    z-index: -1;
  }

  .containerWrapper {
    padding: var(--size-gutter) 0;
  }

  .projectsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    align-content: center;
    justify-content: center;
    margin: 64px 0;
  }

  .title{
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 100px;
  }

  .handleTop {
    position: absolute;
    top: 20px;
    left: calc((100% / 2) - 100px);
    fill: var(--color-code-bg-secondary);
  }
  .handleBottom {
    position: absolute;
    bottom: -32px;
    left: calc((100% / 2) - 100px);
    fill: var(--color-code-bg-secondary);
  }
}
