.mainContainer {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: 10px 20px;
}

.projectTitle {
  margin-top: 50px;
  font-size: 4rem;
  text-align: center;
}

.slider{
  margin-bottom: 20px;
}


