.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 6cqw;
}

@media screen and (--large-screen) {
  .title {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
  }
}
