.wrapper {
  box-sizing: border-box;
  display: none;
}

.title {
  color: var(--text-section-title);
  font-family: BankGothic;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: left;
  z-index: 20;
}

@media screen and (--large-screen) {
  .wrapper {
    display: block;
    width: calc((100% - var(--size-content)) / 2 - (var(--size-gutter) * 2));
    position: absolute;
    height: calc((100% - (var(--size-gutter) * 2)));
  }

  .title {
    width: fit-content;
    position: sticky;
    top: 60px;
    padding-top: 19px;
    padding-left: 10%;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
  }
}
