.wrapper {
  height: fit-content;
  padding: 20px 0 10px 0;
}

.mainContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.title {
  color: var(--text-section-title);
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: left;
}

@media screen and (--large-screen) {
  .wrapper {
    background: none;
    height: 150px;
    position: absolute;
    left: -350px;
  }

  .mainContainer {
    margin: 0 auto;
    max-width: var(--size-content);
    padding: 0 var(--size-gutter);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: fit-content;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: right;
  }
}
